src/src/*/*.o
src/*.log
pkg/ipk/
src/Makefile
src/config.status
src/m4/Makefile
src/po/Makefile.in
src/sdl/
src/src/Makefile
src/src/gb/.deps/
src/src/gb/Makefile
src/src/gb/libgb.a
src/src/gtk/.deps/
src/src/gtk/Makefile
src/src/gtk/images/Makefile
src/src/i386/Makefile
src/src/i386/lib386.a
src/src/prof/.deps/
src/src/prof/Makefile
src/src/prof/libprof.a
src/src/sdl/.deps/
src/src/sdl/Makefile
src/src/sdl/VisualBoyAdvance
src/win32/Makefile
